
<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
      ).html_safe %> 
  </script>
<% end %>

<main id='root'>
  <br>
  <label>When your app didn't load, but you need to render something: </label><br>
  <img src="https://i.kym-cdn.com/entries/icons/original/000/023/987/overcome.jpg">
  <%# <img width=32px src="https://i.kym-cdn.com/photos/images/facebook/001/290/942/c31.png"> %>
</main>