.navbar {
  height: 79px;
  background-color: #eee;
  margin: 0;
  top: 0;
  left: 0;
}
.navbar > h1{
  width: 193px;
  height: 72px;
  float: left;
}
.profile-container {
  float: right;
}

.session-link {

}