.navbar {
  height: 78px;
  width: 100%;
  position: relative;
  background-color: #eee;
  margin: 0;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}
.navbar > h1{
  width: 193px;
  height: 72px;
  float: left;
}
.logo {
  position: absolute;
  left: 3%;
  bottom: -3px;
  width: 193px;
  height: 72px;
  z-index: 2;
}
.projects-button {
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 5px; 
  /* color: #777; */
  position: absolute;
  left: 450px;
  padding: 5px 10px 5px 10px;
  bottom: 30%;
}

.projects-button:hover, .logout-button:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}
.projects-button:active, .logout-button:active {
  box-shadow: inset 0 0 10px #ccc;
}

.projects-button:focus, .logout-button:focus {
  outline: none;
}

.profile-container {
  /* justify-content: center; */
  padding: 10px;
  float: right;
  position: absolute;
  right: 60px;
  /* top: 33px; */
}

.spacer {
  position: relative;
  background: #ffff;
  display: inline-block;
  height: 38px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 2px -2px gray;
  z-index: 1;
}
.profile-container span, .session-link {
  font-size: 12px;
  color: #ccc;
}
.session-link {
  color: #777;
  padding: 2px;
}
.motto {
  position: absolute;
  right: 60px;
}