.project-show-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  /* text-align: center; */
  margin: 25px;
  

}
.project-header, .project-step-title {
  text-align: center;
}
.project-step-title {
  font-weight: 700;
  font-size: 20px;
}
.project-show-container {
  width: 67%;
    background-color: #fff;
    border-radius: 5px;
    /* border: 1px solid black; */
    box-shadow: 0 0 2px #aaa;
    padding: 50px 20px 50px 20px ;
}
.project-title {
  font-size: 36px;
  font-weight: 700; 
}
.project-description {
  /* align-self: flex-start; */
}
.project-options {
  position: absolute;
  right: 70px;
  top: 160px;
  text-align: right;
  /* top: 150px; */
  /* right: 150px; */

}
.project-option-button {
  padding: 10px; 
  border: 1px #ccc solid;
  border-radius: 5px;
  margin: 5px;
}
.project-delete-button {
  color: #fff;
  background-color: red;
}
.project-description {
  margin-top: 15px;
}

.project-show-steps {
  margin-top: 15px;
}
.project-step-description {
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 5px;
}
.project-step-container {
  margin: 10px;
  padding: 10px 0px 10px 0px;
}

.step-image {
  width: 20%;
}