.project-form-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  margin: 25px;
}
.project-form {
  /* width:  */
  /* margin: 5px; */
}
.step-form-container,
.project-form-project {
  align-content: center;
  height: 140px;
  text-align: center;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #eee;
  position: relative;
  box-shadow: inset 0px 0px 2px lightgrey;
  margin: 20px;
}
.project-form-project {
  background-color: #ddd
}
.project-form-container {
  width: 960px;
  align-items: center;
  background-color: #fff;
  border: 1px solid lightgrey;
  /* padding: 10px;  */
  border-radius: 5px;
  box-shadow: 0px 2px 10px lightgrey;
}
.remove-step-button {
  position: absolute;
  top: 20px;
  right: 3%;
  border: 1px solid #ccc
  /* display: none; */
  
}
.project-form-title, .project-form-body {
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
}
.rounded {
  border-radius: 5px;
}
.publish-button {
  border: 1px #eee solid;
  background-color: orange;
  padding: 10px 20px 10px 20px;
  /* position: absolute; */
  z-index: 2;
  position: absolute;
  right: 60px;
}
.add-step-button{
  border: 1px #ccc solid;
  padding: 10px;
  box-shadow: inset 0px 0px 2px lightgrey;
  margin-bottom: 20px;
}

.project-form-errors {
  position: absolute;
  left: 5;
  border: 1px soldi #c55b00;
  padding: 3px;
}
.project-error {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.project-form-header{
  background-color: #eee;
  padding: 25px;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 1px solid #ccc;
  box-shadow: inset 0px 0px 1px #efefef;
}



/* Start the shake animation and make the animation last for 0.5 seconds */
/* When the animation is finished, start again */
/* https: //www.w3schools.com/howto/howto_css_shake_image.asp */

/* .project-error {
  animation: shake 0.2s;
  animation-iteration-count: 1;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
} */
