.project-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 733px;
}
.project-index-grid {
  margin-top: 40px;
  width: 95%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-bottom: 40px;
  /* flex-direction: row;  */
}
.project-item-box {
  word-wrap: break-word;
  border: 1px solid #eee;
  width: 300px;
  height: 362px;
  margin: 15px;
}
.project-item-box:hover {
  box-shadow: 0 0 20px #ccc;
  border: 1px solid rgb(156, 156, 156)

}
.project-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 1px 3px #ccc;
  overflow: hidden;

}
.project-image-container {
  height: 253px;
  width: 300px;
}
.project-image {
  height: 100%;
  width: 100%; 
}
.project-index-text {
  /* border-top: 1px solid #bbb; */
  border-bottom: 1px solid #eee;
  align-items: left; 
  max-height: 80px;
  max-width: 300px;
  margin-bottom: 27px;
  line-height: 1.2;
  margin-left: 1px;
  overflow: hidden;
}
.project-index-text {
  list-style: none;
  background-color: #F8F8F8;
  padding: 20px;
}
.project-index-title {
  font-weight: 700;
  color: black;
}
.project-index-author{
  color: black;
}
.project-index-text, .project-index-author {
  text-align: left;
}