* {
  font-family: arial;
}
body {
  background: url("orig.jpg");
}

.clickable:hover {
  cursor: pointer;
}
body {
  /* height: 2000px; */
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 279px;
  background-color: gray;
}

/* .hidden {
  display: none;
} */