.splash-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700;
  font-family: 'Roboto',
  sans-serif;
  
  /* background-image: url("https://images.pexels.com/photos/301703/pexels-photo-301703.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") */
}

.splash {
  object-fit: cover;
  height: 600px;
  width: 100%;
}
.splash-text {
  position: absolute;
  color: #eee;
  left: 50px;
  top: 450px;
  text-shadow: 2px 2px 10px gray;
  font-size: 75px;
}